
<%# Listings Page %>
<h1 class="hero-title text-center">Listings</h1>
<section class="container">
<%# when screen in small use one column, when medium use 2 columns, when large show 4 columns %>    
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
        <%@listings.each do |listing|%>
<%# margin of 4 at bottom %>
            <div class='col mb-4'>
<%# height of 100 %>
                <div class="card border-dark h-100">

<<<<<<< HEAD
=======

<%# If a user uploads a picture then use said picture if not show generic clothes picture.%>

>>>>>>> 938f0e4 (fixed styling error between listing page and home page)
                        <%if listing.picture.attached? %>
                            <%=image_tag listing.picture, alt: listing.title, class:"thumbnail card-img top"%>
                        <%else%>
                            <%=image_tag "clothes.jpg", alt: "A rack of clothes", class:"thumbnail card-img top"%>
                        <%end%>
<%# Styling of listings, contains them into cards to keep things neat a spaced evenly%>
<%# displays: title, picture, price, description and see more button %>
                        <div class="card-body">
                            <h5><%=listing.title%></h5>
                            <p class="card-text text-secondary"><%=listing.description%></p>
                            <%# spaced horizontal but evenly %>
                                <div class='d-flex justify-content-between align-items-end'>
                                    <%=link_to "See More", listing_path(listing.id), class: "btn btn-outline-primary"%>
                                    <h5><%=format_price(listing.price)%></h5> 
                                </div>
                        </div>
                </div>
            </div>
        
        <%end%>
   </div>

</section>

