<!DOCTYPE html>
<html>
  <head>
    <title>TrendUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# implements stripe payment  %>
<script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
<%# loop through flash message %>
   <%flash.each do |key, value|%>
   <div class="alert alert-<%=select_alert_subclass(key)%> alert-dismissable fade show" role="alert">
      <%=value%>
      <%# when screen reader sees this button it knows it is a closed button %>
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
   </div>
   <%end%>
   <%= render "shared/navbar"%>
    <%= yield %>
  </body>
</html>
